<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Display</title>
</head>
<body>
<center>
<table id="Display Table" border="2">
    <tr>
        <th colspan="5"> Trainer Course Details</th>
    </tr>
    <tr>
        <th>Serial Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Designation</th>
        <th>Course Name</th>
    </tr>
    {% for i in output_data %}
    <tr>
        <td>{{ i[0] }}</td>
        <td>{{ i[1] }}</td>
        <td>{{ i[2] }}</td>
        <td>{{ i[3] }}</td>
        <td>{{ i[4] }}</td>
    </tr>
    {% endfor %}
</table>
</center>
</body>
</html>